
config cgminer 'default'
	option pool1url		'stratum+tcp://stratum.bitcoin.cz:3333'
	option pool1user	'wareck.OpenWRT'
	option pool1pw		'x'
	option pool2url		'stratum+tcp://stratum.bitcoin.cz:3333'
	option pool2user	'wareck.OpenWRT'
	option pool2pw		'x'
	option pool3url		'stratum+tcp://stratum.bitcoin.cz:3333'
	option pool3user	'wareck.OpenWRT'
	option pool3pw		'x'
	option pool_balance	' '
	option chip_frequency	'290'
	option fan		'20'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'
