
config cgminer 'default'
	option pool1url		'stratum+tcp://stratum.bitcoin.cz:3333'
	option pool1user	'wareck.openwrt'
	option pool1pw		'x'
	option pool2url		'stratum+tcp://stratum.bitcoin.cz:3333/#xnsub'
	option pool2user	'wareck.openwrt'
	option pool2pw		'x'
	option pool3url		'stratum+tcp://kryptos.podzone.net:3348/#skipcbcheck#xnsub'
	option pool3user	'SVdNZJntkhDQjrbY9PxPXsmr3NTq56vhGQ'
	option pool3pw		'x'
	option pool_balance	'  '
	option chip_frequency	'150'
	option fan		'20'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

