
config cgminer 'default'
	option pool1url		'stratum+tcp://192.168.1.20:3340'
	option pool1user	'GWzCfieMTLHvkufcq8F36HAFwnibY14Uwr'
	option pool1pw		'xxx'
	option pool2url		'stratum+tcp://stratum80.kano.is:80'
	option pool2user	'canaan.80'
	option pool2pw		'1234'
	option pool3url		'stratum+tcp://stratum81.kano.is:81'
	option pool3user	'canaan.81'
	option pool3pw		'1234'
	option pool_balance	'  '
	option chip_frequency	'780'
	option fan		'20'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

