
config cgminer 'default'
	option pool1url		'stratum+tcp://kryptos.podzone.net:3357/#skipcbcheck#xnsub'
	option pool1user	'VSBpYZ9sGoUXewNVYX6gncGdUGMmzztWnz'
	option pool1pw		'x'
	option pool2url		'stratum+tcp://kryptos.podzone.net:3348/#skipcbcheck#xnsub'
	option pool2user	'SVdNZJntkhDQjrbY9PxPXsmr3NTq56vhGQ'
	option pool2pw		'x'
	option pool3url		'stratum+tcp://stratum.mining.eligius.st:3334'
	option pool3user	'1DjkyfUc4vDKNgwX8ZBoKX3LLca8YXLM6f_Gekko'
	option pool3pw		'x'
	option pool_balance	'  '
	option chip_frequency	'150'
	option fan		'20'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

